# **Encoding**

**Convert** categorical data **into numerical data** using **one-hot or label encoding techniques**.

## **One-hot Encoding**
> It is used when **limited amount of data** is present

In [1]:
import pandas as pd

In [11]:
Dataset = pd.read_csv("AmesHousing.csv")
Dataset

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

### 📝 Steps  
1. **Check & remove null values** → drop missing rows/cols if any.  
2. **Encode categorical data** → use Label/One-Hot/Frequency encoding as needed.

In [3]:
Dataset.select_dtypes(include='object')

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,NaN,NaN,NaN,WD,Normal
1,RH,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,Gar2,WD,Normal
3,RL,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Detchd,Unf,TA,TA,Y,NaN,GdPrv,NaN,WD,Normal
2926,RL,Pave,NaN,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
2927,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,NaN,NaN,NaN,NaN,Y,NaN,MnPrv,Shed,WD,Normal
2928,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2929,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [4]:
# check null values
Dataset.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 82, dtype: int64

In [5]:
Dataset['Fence'].isnull().sum()

np.int64(2358)

In [12]:
Dataset['Fence'].fillna(Dataset['Fence'].mode()[0],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_22676\414214771.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['Fence'].fillna(Dataset['Fence'].mode()[0],inplace=True)

In [13]:
Dataset['Garage Type'].fillna(Dataset['Garage Type'].mode()[0],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_22676\4137961546.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Dataset['Garage Type'].fillna(Dataset['Garage Type'].mode()[0],inplace=True)

## **1. Using Pandas get_dummies()**

In [14]:
en_data = Dataset[['Garage Type','Fence']]
en_data

     Garage Type  Fence
0         Attchd  MnPrv
1         Attchd  MnPrv
2         Attchd  MnPrv
3         Attchd  MnPrv
4         Attchd  MnPrv
...          ...    ...
2925      Detchd  GdPrv
2926      Attchd  MnPrv
2927      Attchd  MnPrv
2928      Attchd  MnPrv
2929      Attchd  MnPrv

[2930 rows x 2 columns]

In [12]:
pd.get_dummies?

Signature:
pd.get_dummies(
    data,
    prefix=None,
    prefix_sep: 'str | Iterable[str] | dict[str, str]' = '_',
    dummy_na: 'bool' = False,
    columns=None,
    sparse: 'bool' = False,
    drop_first: 'bool' = False,
    dtype: 'NpDtype | None' = None,
) -> 'DataFrame'
Docstring:
Convert categorical variable into dummy/indicator variables.

Each variable is converted in as many 0/1 variables as there are different
values. Columns in the output are each named after a value; if the input is
a DataFrame, the name of the original variable is prepended to the value.

Parameters
----------
data : array-like, Series, or DataFrame
    Data of which to get dummy indicators.
prefix : str, list of str, or dict of str, default None
    String to append DataFrame column names.
    Pass a list with length equal to the number of columns
    when calling get_dummies on a DataFrame. Alternatively, `prefix`
    can be a dictionary mapping column names to prefixes.
prefix_sep : str, default '_'
    If appending prefix, separator/delimiter to use. Or pass a
    list or dictionary as with `prefix`.
dummy_na : bool, default False
    Add a column to indicate NaNs, if False NaNs are ignored.
columns : list-like, default None
    Column names in the DataFrame to be encoded.
    If `columns` is None then all the columns with
    `object`, `string`, or `category` dtype will be converted.
sparse : bool, default False
    Whether the dummy-encoded columns should be backed by
    a :class:`SparseArray` (True) or a regular NumPy array (False).
drop_first : bool, default False
    Whether to get k-1 dummies out of k categorical levels by removing the
    first level.
dtype : dtype, default bool
    Data type for new columns. Only a single dtype is allowed.

Returns
-------
DataFrame
    Dummy-coded data. If `data` contains other columns than the
    dummy-coded one(s), these will be prepended, unaltered, to the result.

See Also
--------
Series.str.get_dummies : Convert Series of strings to dummy codes.
:func:`~pandas.from_dummies` : Convert dummy codes to categorical ``DataFrame``.

Notes
-----
Reference :ref:`the user guide <reshaping.dummies>` for more examples.

Examples
--------
>>> s = pd.Series(list('abca'))

>>> pd.get_dummies(s)
       a      b      c
0   True  False  False
1  False   True  False
2  False  False   True
3   True  False  False

>>> s1 = ['a', 'b', np.nan]

>>> pd.get_dummies(s1)
       a      b
0   True  False
1  False   True
2  False  False

>>> pd.get_dummies(s1, dummy_na=True)
       a      b    NaN
0   True  False  False
1  False   True  False
2  False  False   True

>>> df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
...                    'C': [1, 2, 3]})

>>> pd.get_dummies(df, prefix=['col1', 'col2'])
   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1    True   False   False    True   False
1  2   False    True    True   False   False
2  3    True   False   False   False    True

>>> pd.get_dummies(pd.Series(list('abcaa')))
       a      b      c
0   True  False  False
1  False   True  False
2  False  False   True
3   True  False  False
4   True  False  False

>>> pd.get_dummies(pd.Series(list('abcaa')), drop_first=True)
       b      c
0  False  False
1   True  False
2  False   True
3  False  False
4  False  False

>>> pd.get_dummies(pd.Series(list('abc')), dtype=float)
     a    b    c
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\reshape\encoding.py
Type:      function

In [15]:
pd.get_dummies(en_data)

,Garage Type_2Types,Garage Type_Attchd,Garage Type_Basment,Garage Type_BuiltIn,Garage Type_CarPort,Garage Type_Detchd,Fence_GdPrv,Fence_GdWo,Fence_MnPrv,Fence_MnWw
0,False,True,False,False,False,False,False,False,True,False
1,False,True,False,False,False,False,False,False,True,False
2,False,True,False,False,False,False,False,False,True,False
3,False,True,False,False,False,False,False,False,True,False
4,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
2925,False,False,False,False,False,True,True,False,False,False
2926,False,True,False,False,False,False,False,False,True,False
2927,False,True,False,False,False,False,False,False,True,False
2928,False,True,False,False,False,False,False,False,True,False
2929,False,True,False,False,False,False,False,False,True,False

In [16]:
pd.get_dummies(en_data, dtype = int)

,Garage Type_2Types,Garage Type_Attchd,Garage Type_Basment,Garage Type_BuiltIn,Garage Type_CarPort,Garage Type_Detchd,Fence_GdPrv,Fence_GdWo,Fence_MnPrv,Fence_MnWw
0,0,1,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
2925,0,0,0,0,0,1,1,0,0,0
2926,0,1,0,0,0,0,0,0,1,0
2927,0,1,0,0,0,0,0,0,1,0
2928,0,1,0,0,0,0,0,0,1,0
2929,0,1,0,0,0,0,0,0,1,0

In [24]:
pd.get_dummies(en_data, dtype = int).columns

Index(['Garage Type_2Types', 'Garage Type_Attchd', 'Garage Type_Basment',
       'Garage Type_BuiltIn', 'Garage Type_CarPort', 'Garage Type_Detchd',
       'Fence_GdPrv', 'Fence_GdWo', 'Fence_MnPrv', 'Fence_MnWw'],
      dtype='object')

## **2. Using Scikit-learn's OneHotEncoder**

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5860 stored elements and shape (2930, 10)>

#### **sparse matrix**
A sparse matrix is a type of matrix in which **the majority of its elements are zero**.

In [23]:
#convert into array
ar = ohe.fit_transform(en_data).toarray()
ar

array([[0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [26]:
# convert into dataframe
pd.DataFrame(ar, columns = ['Garage Type_2Types', 'Garage Type_Attchd', 'Garage Type_Basment',
       'Garage Type_BuiltIn', 'Garage Type_CarPort', 'Garage Type_Detchd',
       'Fence_GdPrv', 'Fence_GdWo', 'Fence_MnPrv', 'Fence_MnWw'])

,Garage Type_2Types,Garage Type_Attchd,Garage Type_Basment,Garage Type_BuiltIn,Garage Type_CarPort,Garage Type_Detchd,Fence_GdPrv,Fence_GdWo,Fence_MnPrv,Fence_MnWw
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2925,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2926,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2927,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2928,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2929,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

**`drop='first'`** → removes one redundant column per feature to avoid multicollinearity and save space.

In [30]:
en_data2 = Dataset[['Lot Shape']]
en_data2

     Lot Shape
0          IR1
1          Reg
2          IR1
3          Reg
4          IR1
...        ...
2925       IR1
2926       IR1
2927       Reg
2928       Reg
2929       Reg

[2930 rows x 1 columns]

In [36]:
ohe2 = OneHotEncoder(drop='first')
ar2 = ohe2.fit_transform(en_data2).toarray()
ar2

array([[0., 0., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [37]:
pd.DataFrame(ar2, columns = [ 'Lot Shape_IR2', 'Lot Shape_IR3', 'Lot Shape_Reg'])

      Lot Shape_IR2  Lot Shape_IR3  Lot Shape_Reg
0               0.0            0.0            0.0
1               0.0            0.0            1.0
2               0.0            0.0            0.0
3               0.0            0.0            1.0
4               0.0            0.0            0.0
...             ...            ...            ...
2925            0.0            0.0            0.0
2926            0.0            0.0            0.0
2927            0.0            0.0            1.0
2928            0.0            0.0            1.0
2929            0.0            0.0            1.0

[2930 rows x 3 columns]